@import "tailwindcss";

body {
  background: #f0f0f0;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.ag-root-wrapper {
  border-radius: 20px;
}

.box-wrapper {
  border-radius: 20px;
  background: #f0f0f0;
  box-shadow: inset 6px 6px 18px #d3d3d3, inset -6px -6px 18px #ffffff;
}

@utility chip-shadow {
  background: #f0f0f0;
  box-shadow: 4px 4px 10px #d3d3d3, -4px -4px 10px #ffffff;
}
