@import "tailwindcss";

body {
  background: #f0f0f0;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.ag-root-wrapper {
  border-radius: 20px;
}

.box-wrapper {
  border-radius: 20px;
  background: #f0f0f0;
  box-shadow: inset 6px 6px 18px #d3d3d3, inset -6px -6px 18px #ffffff;
}

@utility chip-container-mask {
  mask-image: linear-gradient(
    90deg,
    transparent 5px,
    black 20px,
    black calc(100% - 20px),
    transparent calc(100% - 5px)
  );
}

@utility chip-shadow {
  background: #f0f0f0;
  box-shadow: 3px 3px 6px #d3d3d3, -3px -3px 6px #ffffff;
}

.button-primary {
  @apply h-full p-2 border rounded-md;
}

#main {
  display: grid;
  gap: 2rem;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;

  &.variant-1 {
    grid-template-areas:
      "grid textarea"
      "grid preview";
  }
  &.variant-2 {
    grid-template-areas:
      "grid grid"
      "textarea preview";
  }
  &.variant-3 {
    grid-template-areas:
      "textarea grid"
      "preview grid";
  }
  &.variant-4 {
    grid-template-areas:
      "textarea preview"
      "grid grid";
  }
}
#grid {
  grid-area: grid;
}
#textarea {
  grid-area: textarea;
}
#preview {
  grid-area: preview;
}
